@import '../utils/variables.scss';

.positive-section {
    padding: 94px;
    padding-bottom: 94px;

    &__list {
            display: inline-flex;
            margin: 94px 0;
            align-items: first baseline;
            gap: 30px;
    
        }
    
    &__list-item {
        height: 92px;
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    
    }

    &__block {
        padding: 25px 100px;
        background-color:  map-get($map: variables, $key: color-button);
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color:  map-get($map: variables, $key: color-main);
        margin-bottom: 12px;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color:  map-get($map: variables, $key: color-desc);
    }
}